html, body {
  box-sizing: border-box;
  height: 100vh;
}

audio {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

#konami-text {
  position: fixed;
  bottom: 0;
  right: 0;
}

#cake-body {
  box-shadow: 0 4px 5px black;
  top: -400px;
  position: relative;
  width: 400px;
  height: 240px;
  background-color: aqua;
  border-radius: 10% 10% 20% 20%;
}

#candle-container {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  bottom: 50px;
  left: 25px;
  width: 350px;
  height: 200px;
}

#happy-bday-text {
  text-shadow: 4px 4px 5px black;
  font-family: 'Roboto', sans-serif;
  color: #f5fdfa;
  position: relative;
  top: -70px;
}

.candle {
  margin: 0 30px;
  height: 100%;
  width: 20px;
  background-color: #c7dde5;
}

.flame {
  box-shadow: 0 4px 5px #3c3c3c;
  animation-name: sway;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: orange;
  position: relative;
  top: -20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: orange;
}

.slide-down {
  animation-name: moveCake;
  animation-duration: 3s;
}

.slide-down-h1 {
  animation-name: moveH1;
  animation-duration: 3s;
}

@keyframes sway {
  from {
    left: -10px;
  }
  to {
    left: 10px;
  }
}

@keyframes moveCake {
  from {
    top: -400px;
  }
  to {
    top: 50px;
  }
}

@keyframes moveH1{
  from {
    top: -70px;
  }
  to {
    top: 0;
  }
}
